@font-face {
    font-family: 'WenYueMingChao';
    src: url('WenYueMingChao.eot');
    src: url('WenYueMingChao.eot?#iefix') format('embedded-opentype'),
         url('WenYueMingChao.woff') format('woff'),
         url('WenYueMingChao.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

