@font-face {
    font-family: 'GutiFangsong';
    src: url('GutiFangsong.eot'); /* IE9 Compat Modes */
    src: url('GutiFangsong.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GutiFangsong.woff') format('woff'), /* Modern Browsers */
         url('GutiFangsong.ttf') format('truetype'), /* Safari, Android, iOS */
         url('GutiFangsong.svg#GutiFangsong') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

